<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8' />
<link rel='stylesheet' type='text/css' href='stylesheets/stylesheet.css' media='screen' />
<link rel='stylesheet' type='text/css' href='stylesheets/pygment_trac.css' media='screen' />
<title>Frostyfrog's Blog</title>
</head>
<body>
<header>
<div class='container'>
<h1>Frostyfrog</h1>
<h2>The useless banter of a clever frog.</h2>
<section id=downloads>
<a href='https://github.com/frostyfrog' class='btn btn-github'><span class='icon'></span>Visit on GitHub</a>
</section>
</div>
</header>
<div class='container'>
<section id='main_content'>
{{ content }}
</section>
</div>
</body>
</html>
